.hire-login{
    background: linear-gradient(90deg, rgba(124, 131, 253, 0.64) 0%, rgba(125, 237, 255, 0.8) 100%);
}
.hire-login-container{
    background: rgba(255, 255, 255, 0.45);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    width:400px;
}
.hire-login-title{
    color: #000000;

}
.hire-login-subtitle{
    color: #000000;
}
.hire-login-submit{
    background: rgba(124, 131, 253, 0.8);
border-radius: 10px;
color:#ffffff;
border: none;

}

@media screen and (max-width:480px){
    .hire-login-container{
        width: 250px;
    }
    
}
@media screen and (max-width:280px) {
    .hire-login-container{
        width: 200px;
    }
    
} 

.eas-body{
    background-image: url("./bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.achievement-cards {
	/* background-color: #ffffff; */
	/* margin: 10px; */
	height: 500px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.41);
	/* border-radius: 10px; */
    border: 5px solid #7DEDFF  ;
    background: transparent;

	/* box-shadow: ; */
}
.eas-service{
    background: rgba(124, 131, 253, 0.8);
}